.header {
    height: 7vh;
    width: 100%;
    background: #040D16;
}

.body {
    display: flex;
    flex-direction: row;
}

.sideBar {
    height: 93vh;
    background: #161F29;
    flex: 0.15;
}

.sideBar .userInfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px;
    margin-top: 15px;
}

.sideBar .userInfo .userIcon {
    display: flex;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: #2A2D3E;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.sideBar .userInfo .userText {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBar .userInfo .userText .userStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.sideBar .userInfo .userText .userStatus .statusIcon {
    background: rgb(120, 255, 120);
    border-radius: 50%;
    width: 0.7vw;
    height: 0.7vw;
    margin-right: 5px;
}

.sideBar .userInfo .userText .userStatus .statusText {
    font-size: 0.9vw;
}

.sideBar .userInfo .userText .username {
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

.body .sideBar .dividerOne {
    border: none;
    border-top: 0.5px solid #7a7fae;
    width: 100%; 
    height: 0.1px; 
    margin: 10px auto;
    margin-bottom: 6vh;
}

.body .sideBar .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vw;
}

.body .sideBar button {
    display: flex;
    flex-direction: column;
    background: #161F29;
    border: none;
    color: #767A9B;
    margin-bottom: 4vh;
    font-size: 2vh;
}

.body .sideBar .buttons .dividerTwo {
    border: none;
    border-top: 0.5px solid #7a7fae;
    width: 95%; 
    height: 0.1px;
    margin-top: 2vh;
    margin-bottom: 6vh; 
}

.cards {
    flex: 0.85;
    display: flex;
    flex-direction: row;
    background: #212332;
    padding: 10px;
}

.card {
    background: #2A2D3E;
    border-radius: 35px;
    margin: 10px;
}

.cards .left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.cards .left .top {
    flex: 0.35;
    display: flex;
    flex-direction: row;
}

.cards .left .top .card1 {
    flex: 1;
}

.cards .left .top .card2 {
    flex: 1;
}

.cards .left .top .card3 {
    flex: 1;
}

.cards .left .middle {
    flex: 1.5; 
    display: flex;
    flex-direction: row;   
}

.cards .left .middle .card4 {
    flex: 3;
}

.cards .left .middle .card5 {
    flex: 1;
}

.cards .left .bottom {
    flex: 1;    
    display: flex;
    flex-direction: row;
}

.cards .left .bottom .card6 {
    flex: 3;
}

.cards .left .bottom .card7 {
    flex: 2;
}

.cards .right {
    flex: 0.2;
    display: flex;
    height: 100%;
}

.cards .right .card8 {
    flex: 0.2;
    flex-grow: 1;
}