.contentLabel {
    color: #86868b;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-left: 1.7vw;
}

.goalContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.goalContainer .leftSideContent {
    flex: 30;
}

.goalContainer .rightSideContent {
    flex: 70;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goalContainer .rightSideContent .goalNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.goalContainer .rightSideContent .goalLink {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 0.8em;
}

.goalContainer .rightSideContent .barChartContainerStyle {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }


  
 .goalContainer .leftSideContent .doughnutChartContainerStyle {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: left;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.goalContainer .leftSideContent .doughnutChartContainerStyle .percentLabel{
    color: white;
    font-size: 1.2em;
}

.goalContainer .leftSideContent .doughnutChartContainerStyle .fractionLabel{
    color: rgb(120,198,121);
    font-size: 0.7em;
}

.iterateUp {
    width: 1.5vw;
    height: 2vh;
    background: transparent;
    border: transparent;
  }

  .iterateDown {
    width: 1.5vw;
    height: 2vh;
    background: transparent;
    border: transparent;
  }

  .iterateDown:hover {
    background-color: rgb(255, 255, 255, 0.25);
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .iterateUp:hover {
    background-color: rgb(255, 255, 255, 0.25);
    border: 1px solid white;
    border-radius: 5px;
  }

.arrow {
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle; 
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    bottom: 5px;
  }
